{% extends "base.html" %}
{% block content %}

<header class="intro">
  <div class="intro-body">
{% if error %}
<h2><div class="alert" role="alert">
  {{ error }}
</div></h2>
{% endif %}

    <div class="container">
      <div class="row">
        <!-- "style="padd-top: 5%;" is called in-line -->
        <div class="col-md-6 col-md-offset-3" style="padding-top: 15%;">
          <h1>Calling and Texting</h1>
            <form action="/" method="post">
              <p><h4>Please enter a number to call or text:</h4></p>
              <input type="text" class="form-control" name="out_phone"></input>
              <br><br><br>

              <p><h4>Please enter a message to send (if applicable)</h4></p>
<!--
              <div class="col-lg-3">
                <select class="form-control" id="choice" name="choice">
                  <option>Text</option>
                  <option>Call</option>
                </select>
              </div>
              --!>
              <input type="text" class="form-control" name="body"></input>
              <br><br><br>

              <p><h4>Enter the number of times to send messages! </h4></p>
              <input type="text" class="form-control" name="repeat"></input>
              <br><br><br>

              <button type=button" class="btn btn-lg btn-default" name=choice value=Call>Call</button> 
              <button type=button" class="btn btn-lg btn-default" name=choice value=Text>Text</button>
            </form>


        </div>
      </div>
    </div>
  </div>
</header>

{% endblock %}
